<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Garnet</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        - by <a href="http://github.com/m4nolo/">M4nolo</a> & <a href="http://github.com/kaiomax/">Kaio</a>.
        {% endblock %}
    </div>
</body>
</html>
